.site-footer
    .site-footer-logo
      +rhlogo
    ul.site-footer-nav 
      li About
      li Support
      li Terms of Use
      li Privacy Policy
    .site-footer-copyright Copyright ©2018 Red Hat, Inc.