.site-footer
    .site-footer-logo
      +rhlogo
    ul.site-footer-nav 
      li
        a(href='404.pug') Home
      li
        a(href='404.pug') Catalog
      li
        a(href='404.pug') Calendar
      li
        a(href='404.pug') Feedback
      li
        a(href='404.pug') Help + Support
    .site-footer-copyright Copyright ©2018 Red Hat, Inc.