.site-header
    .site-header-logo
      a(href='index.pug')
        +xllogo
    .site-header-nav  
      ul
        li 
          a(href='catalog.pug') Catalog
        li Calendar
    .site-header-search 
      +icon-search("icon-button-left")
      | What do you want to learn?
    .site-header-nav-secondary 
      ul
        li
          +icon-message("negative")
        li 
          +icon-help("negative")
        li 
          +icon-bell("negative")
          .label 3
        li 
          +icon-user("negative")