.l-site-header
  .l-site-header--mobile
    .c-site-header__nav--mobile
      ul
          li
            a(href='404.pug') 
              +icon-menu("negative")
    .c-site-header__logo
      a(href='index.pug')
        +xllogo
    .c-site-header__nav--secondary
      ul
        li 
          a(href='404.pug') 
            +icon-bell("negative")
            .c-label 3
        li 
          a(href='404.pug') 
            +icon-user("negative")
  .l-site-header--desktop
    .c-site-header__logo
      a(href='index.pug')
        +xllogo
    .c-site-header__nav
      ul
        li 
          a(href='catalog.pug') Catalog
        li 
          a(href='calendar.pug') Calendar
    .c-site-header__search
      +icon-search("icon-button-left")
      | What do you want to learn?
    .c-site-header__nav--secondary
      ul
        li
          a(href='404.pug') 
            +icon-message("negative")
        li 
          a(href='404.pug') 
            +icon-help("negative")
        li 
          a(href='404.pug') 
            +icon-bell("negative")
            .c-label 3
        li 
          a(href='404.pug') 
            +icon-user("negative")