
.c-banner-message.negative
  .c-banner-message__icon
    +icon-flag
  .c-banner-message__message
    h1 You have an upcoming class
    p Just a reminder that you have a class scheduled for 8am tomorrow.
  .c-banner-message__cta
    button.c-button.c-button.c-button--negative Dismiss
    button.c-button.c-button.c-button--primary-negative View Class