
.banner-message.negative
  .banner-message-icon 
    +icon-flag
  .banner-message-message
    h1 You have an upcoming class
    p Just a reminder that you have a class scheduled for 8am tomorrow.
  .banner-message-cta
    button.negative Dismiss
    button.negative-primary View Class