.site-hero-display
  .current-path
    h1 Be an Ansible Engineer
    p Integer sodales lorem ac lectus efficitur, eu tincidunt dolor auctor. Nulla ut felis vitae mauris lobortis euismod quis sodales enim. Maecenas odio massa, ultricies et porttitor eu, maximus eget purus. In hac habitasse platea dictumst. Etiam hendrerit gravida efficitur. 
    .path-progress
      .bar-negative
        .bar-fill-negative
      .status
        p
          em 35% Complete
          | &nbsp;- 36 hours left
    button.negative-primary Resume Path
    button.negative View Path
  .next-steps
    h1 Up Next:
    ul
      li 
        .icon
          +icon-user
        .details
          span.title Control task and play behavior
          span.metadata Reading - 10 min
      li 
        .icon
          +icon-package
        .details
          span.title Code driven deployments and ...
          span.metadata Reading - 10 min
      li 
        .icon
          +icon-list
        .details
          span.title Infrastructure management
          span.metadata Reading - 10 min