include _mixins.pug

doctype html
include includes/_head
body

.l-site-container
  include includes/_header

  .l-site-content

    .c-item-table
      .c-item-table__title
        h1 Learning Paths in Progress
      .c-item-table__filters
        button.c-button Recent
          +icon-chevron-down("icon-button.c-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      - var n = 0;
      .c-item-table__contents
        while n < 10
          .c-item-table__row
            .c-item-table__row__content
              h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
              ul.c-content-metadata
                li
                  span.c-tag Infrastructure
                li.c-content-metadata__icon
                  +icon-box("content-icon")
                li.c-content-metadata__type Learning Path
                li 4 hours left
                li
                  +icon-mobile
            .c-item-table__row__cta
              button.c-button.c-button.c-button--primary Resume
          .c-item-table__row
            .c-item-table__row__content
              h1 Suspendisse erat sem, pulvinar vitae ullamcorper eu, faucibus non erat. Donec et feugiat sapien, et pretium tellus.
              ul.c-content-metadata
                li
                  span.c-tag Administration
                li.c-content-metadata__icon
                  +icon-box("content-icon")
                li.c-content-metadata__type Learning Path
                li 4 hours left
            .c-item-table__row__cta
              button.c-button.c-button.c-button--primary Resume
          - n++

    .l-card-grid
      .c-lrncard-grid__title
        h1 Learning Paths in Progress
      .c-lrncard-grid__filters
        button.c-button Recent
          +icon-chevron-down("icon-button.c-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .c-lrncard-grid__contents
        .c-lrncard-grid__cell
          .c-lrncard.c-lrncard--path
            .c-lrncard__contents
              .c-lrncard__icon
                +icon-box("negative")
              .c-lrncard__duration 4 hours left
              .c-lrncard__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-lrncard__cta
                button.c-button.c-button.c-button--primary Resume
              .c-lrncard__subicon
                +icon-mobile("negative card-icon-mobile")
        .c-lrncard-grid__cell
          .c-lrncard.c-lrncard--path
            .c-lrncard__contents
              .c-lrncard__icon
                +icon-box("negative")
              .c-lrncard__duration 4 hours left
              .c-lrncard__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-lrncard__cta
                button.c-button.c-button.c-button--primary Resume
              .c-lrncard__subicon
                +icon-mobile("negative card-icon-mobile")
        .c-lrncard-grid__cell
          .c-lrncard.c-lrncard--path
            .c-lrncard__contents
              .c-lrncard__icon
                +icon-box("negative")
              .c-lrncard__duration 4 hours left
              .c-lrncard__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-lrncard__cta
                button.c-button.c-button.c-button--primary Resume
              .c-lrncard__subicon
                +icon-mobile("negative card-icon-mobile")
      .l-card-grid__cta
        button.c-button View More

  include includes/_footer