include _mixins.pug

doctype html
include includes/_head
body

.l-site-container
  include includes/_header
  include includes/_dashboardnav
  
  .c-site-hero__image
  .l-site-hero
    .c-site-hero__content
      include includes/_hero-banner
      include includes/_hero-currentpath

  .l-site-content
    .l-card-grid
      .c-card-grid__title
        h1 Learning Paths in Progress
      .c-card-grid__filters
        button.c-button Recent
          +icon-chevron-down("icon-button.c-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .c-card-grid__contents
        .c-card-grid__cell
          .c-card.c-card--path
            .c-card__contents
              .c-card__icon
                +icon-box("negative")
              .c-card__duration 4 hours left
              .c-card__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("negative u-svgicon--large")
        .c-card-grid__cell
          .c-card.c-card--path
            .c-card__contents
              .c-card__icon
                +icon-box("negative")
              .c-card__duration 4 hours left
              .c-card__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("negative u-svgicon--large")
        .c-card-grid__cell
          .c-card.c-card--path
            .c-card__contents
              .c-card__icon
                +icon-box("negative")
              .c-card__duration 4 hours left
              .c-card__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("negative u-svgicon--large")
      .l-card-grid__cta
        button.c-button View More

    .l-card-grid
      .c-card-grid__title
        h1 Courses in Progress
      .c-card-grid__filters
        button.c-button Recent
          +icon-chevron-down("icon-button.c-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .c-card-grid__contents
        .c-card-grid__cell
          .c-card.c-card--course
            .c-card__contents
              .c-card__icon
                +icon-box
              .c-card__duration 4 hours left
              .c-card__content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("u-svgicon--large")
        .c-card-grid__cell
          .c-card.c-card--course
            .c-card__contents
              .c-card__icon
                +icon-box
              .c-card__duration 4 hours left
              .c-card__content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("u-svgicon--large")
        .c-card-grid__cell
          .c-card.c-card--course
            .c-card__contents
              .c-card__icon
                +icon-box
              .c-card__duration 4 hours left
              .c-card__content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.c-button.c-button.c-button--primary Resume
              .c-card__subicon
                +icon-mobile("u-svgicon--large")
      .l-card-grid__cta
        button.c-button View More

  include includes/_footer