doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Experience Layer Styles
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='../css/normalize.css')
  link(rel='stylesheet' href='../fonts/overpass.css')
body

.site-container
  .site-header
    p header
  .site-hero
    .site-hero-content
      h1 HERO
  .site-content
    h1 Heading 1 Duis imperdiet, nisl eu hendrerit consectetu
    h2 Heading 2 Curabitur id turpis lorem. Nulla lobortis magna quam, vel viverra quam gravida id
    h3 Heading 3 Nullam ut euismod lectus, sit amet condimentum ipsum
    h4 Heading 4 Fusce tempus orci a malesuada elementum
    h5 Heading 5 Etiam eget rutrum nibh. Fusce nec lorem erat. Aliquam vulputate vestibulum eleifend.
    h6 Heading 6 Integer sodales lorem ac lectus efficitur, eu tincidunt dolor auctor
    p Etiam eget rutrum nibh. 
      a(href='#') Fusce nec lorem erat. 
      Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo. Nam facilisis ullamcorper mauris, in commodo neque iaculis eget. Sed pulvinar, sapien vitae sodales varius, orci urna suscipit ante, quis sodales tellus ligula tincidunt urna. In aliquam massa elit, et efficitur odio semper eu. Ut elementum nisl in placerat auctor.
    p Integer sodales lorem ac lectus efficitur, eu tincidunt dolor auctor. Nulla ut felis vitae mauris lobortis euismod quis sodales enim. Maecenas odio massa, ultricies et porttitor eu, maximus eget purus. In hac habitasse platea dictumst. Etiam hendrerit gravida efficitur. Suspendisse consequat, arcu vitae sollicitudin vehicula, erat lectus cursus urna, vitae consequat tortor odio quis nisl. Cras sollicitudin rutrum dapibus.
    ul
      li Maecenas odio massa
      li Maecenas odio massa
      li Maecenas odio massa
    ol
      li Maecenas odio massa
      li Maecenas odio massa
      li Maecenas odio massa
      
  .site-footer
    p footer
  script(src='../js/index.js')
