doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Experience Layer Styles
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='../css/normalize.css')
  link(rel='stylesheet' href='../fonts/overpass.css')
body

.site-container
  .site-header
    .site-header-logo Experience Layer
    .site-header-categories Catalog
    .site-header-search What do you want to learn?
    .site-header-secondary 
      ul.site-header-nav
        li Feedback
        li Help
        li Alerts
        li Profile
  .site-dashboard-nav
      ul.dashboard-nav
        li Dashboard
        li Discover
        li Team
  .site-hero
    .site-hero-content
      .banner-message
        .banner-message-icon !
        .banner-message-message
          h1 Don't forget your appointment
          p You have something important at 8am today.
        .banner-message-cta
          button.negative Dismiss
          button.negative-primary Do it ...
      .site-hero-display
        h1 Some important suff
  .site-content
    .item-grid
      .item-grid-title
        h1 Some items ...
        .label 3
        .label Really long
      .item-grid-filters
        button Recent
      .item-grid-item
        .card.card-path
          .card-icon []
          .card-duration 4 hours left
          .card-content
            h2 Learning Path
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon <>
      .item-grid-item
        .card
          .card-icon []
          .card-duration 4 hours left
          .card-content
            h2 Course
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon <>
      .item-grid-item
        .card.card-event
          .card-icon []
          .card-duration 4 hours left
          .card-content
            h2 Event
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon <>

  .site-footer
    .site-footer-logo LOGO
    ul.site-footer-nav 
      li About
      li Support
      li Terms of Use
      li Privacy Policy
    .site-footer-copyright Copyright ©2018 Red Hat, Inc.
  script(src='../js/index.js')
