include _mixins.pug

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Experience Layer Styles
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='../css/normalize.css')
  link(rel='stylesheet' href='../fonts/overpass.css')
body

.site-container
  .site-header
    .site-header-logo Experience Layer
    .site-header-categories Catalog
      +icon-chevron-down("icon-button-right")
    .site-header-search 
      +icon-search("icon-button-left")
      | What do you want to learn?
    .site-header-secondary 
      ul.site-header-nav
        li Feedback
        li Help
        li 
          +icon-bell("negative")
        li 
          +icon-user("negative")
  .site-dashboard-nav
      ul.dashboard-nav
        li Dashboard
        li Discover
        li Team
  .site-hero
    .site-hero-content
      .banner-message.negative
        .banner-message-icon 
          +icon-flag
        .banner-message-message
          h1 Don't forget your appointment
          p You have something important at 8am today.
        .banner-message-cta
          button.negative Dismiss
          button.negative-primary Do it ...
      .site-hero-display
        .current-path
          h2 You're doing great Matt!
          h1 Be an Ansible Engineer
          p Integer sodales lorem ac lectus efficitur, eu tincidunt dolor auctor. Nulla ut felis vitae mauris lobortis euismod quis sodales enim. Maecenas odio massa, ultricies et porttitor eu, maximus eget purus. In hac habitasse platea dictumst. Etiam hendrerit gravida efficitur. 
          .path-progress
            .bar
              .bar-fill
            .status
              p
                em 35% Complete
                | &nbsp;- 36 hours left
          button.negative-primary Resume Path
          button.negative View Path
        .next-steps
          h1 Up Next:
          ul
            li 
              span.icon
                +icon-package
              span.title Control task and play behavior
              span.metadata Reading - 10 min
            li 
              span.icon
                +icon-package
              span.title Code driven deployments and ...
              span.metadata Reading - 10 min
            li 
              span.icon
                +icon-package
              span.title Infrastructure management
              span.metadata Reading - 10 min
  .site-content
    .item-grid
      .item-grid-title
        h1 Some items ...
        .label 3
        .label Really long
      .item-grid-filters
        button Recent
          +icon-chevron-down("icon-button-right")
        +icon-grid
        +icon-list
      .item-grid-item
        .card.card-path
          .card-icon 
            +icon-box("negative")
          .card-duration 4 hours left
          .card-content
            h2 Learning Path
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon 
            +icon-mobile("negative")
      .item-grid-item
        .card
          .card-icon
            +icon-box("negative")
          .card-duration 4 hours left
          .card-content
            h2 Course
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon 
            +icon-mobile
      .item-grid-item
        .card.card-event
          .card-icon
            +icon-box("negative")
          .card-duration 4 hours left
          .card-content
            h2 Event
            h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
            p Aliquam vulputate vestibulum eleifend. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur a rhoncus leo.
          .card-cta
            button.primary Resume Path
          .card-subicon 
            +icon-mobile

  .site-footer
    .site-footer-logo LOGO
    ul.site-footer-nav 
      li About
      li Support
      li Terms of Use
      li Privacy Policy
    .site-footer-copyright Copyright ©2018 Red Hat, Inc.
  script(src='../js/index.js')
