doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible' content='ie=edge')
  title Experience Layer Styles
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='../css/normalize.css')
  link(rel='stylesheet' href='../fonts/overpass.css')
body

.site-container
  .site-header
    .site-header-logo Experience Layer
    .site-header-categories Catalog
    .site-header-search What do you want to learn?
    .site-header-secondary 
      ul.site-header-nav
        li Feedback
        li Help
        li Alerts
        li Profile
  .site-hero
    .site-hero-content
      ul.site-hero-nav
        li Dashboard
        li Discover
        li Team
      .site-hero-banner
        .site-hero-icon [ICON]
        .site-hero-message
          h1 Don't forget your appointment
          p You have something important at 8am today.
        .site-hero-cta
          button.light Dismiss
      .site-hero-display
        h1 Some important suff
  .site-content
    .item-grid
      .item-grid-title
        p Some items ...
      .item-grid-filters
        p Filtering options
      .item-grid-item
        .card
          p an item
      .item-grid-item
        .card
          p an item
      .item-grid-item
        .card
          p an item
      .item-grid-item
        .card
          p an item
      .item-grid-item
        .card
          p an item
      .item-grid-item
        .card
          p an item      
  .site-footer
    .site-footer-logo LOGO
    ul.site-footer-nav 
      li About
      li Support
      li Terms of Use
      li Privacy Policy
    .site-footer-copyright Copyright ©2018 Red Hat, Inc.
  script(src='../js/index.js')
