include _mixins.pug

doctype html
include includes/_head
body

.site-container
  include includes/_header
  include includes/_dashboardnav
  
  .site-hero-image 
  .site-hero
    .site-hero-content
      include includes/_hero-banner
      include includes/_hero-currentpath

  .site-content
    .item-grid
      .item-grid-title
        h1 Learning Paths in Progress
      .item-grid-filters
        button Recent
          +icon-chevron-down("icon-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .item-grid-contents
        .item-grid-item
          .card.card-path
            .card-contents
              .card-icon 
                +icon-box("negative")
              .card-duration 4 hours left
              .card-content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("negative card-icon-mobile")
        .item-grid-item
          .card.card-path
            .card-contents
              .card-icon 
                +icon-box("negative")
              .card-duration 4 hours left
              .card-content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("negative card-icon-mobile")
        .item-grid-item
          .card.card-path
            .card-contents
              .card-icon 
                +icon-box("negative")
              .card-duration 4 hours left
              .card-content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("negative card-icon-mobile")
      .item-grid-cta
        button View More

    .item-grid
      .item-grid-title
        h1 Courses in Progress
      .item-grid-filters
        button Recent
          +icon-chevron-down("icon-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .item-grid-contents
        .item-grid-item
          .card.card-course
            .card-contents
              .card-icon 
                +icon-box
              .card-duration 4 hours left
              .card-content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("card-icon-mobile")
        .item-grid-item
          .card.card-course
            .card-contents
              .card-icon 
                +icon-box
              .card-duration 4 hours left
              .card-content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("card-icon-mobile")
        .item-grid-item
          .card.card-course
            .card-contents
              .card-icon 
                +icon-box
              .card-duration 4 hours left
              .card-content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .card-cta
                button.primary Resume
              .card-subicon 
                +icon-mobile("card-icon-mobile")
      .item-grid-cta
        button View More

  include includes/_footer