include _mixins.pug

doctype html
include includes/_head
body

.site-container
  include includes/_header
  include includes/_dashboardnav
  
  .c-site-hero__image
  .l-site-hero
    .c-site-hero__content
      include includes/_hero-banner
      include includes/_hero-currentpath

  .site-content

    .l-card-grid
      .c-card-grid__title
        h1 Card Grid
      .c-card-grid__filters
        button Recent
          +icon-chevron-down("icon-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      .c-card-grid__contents
        .c-card-grid__cell
          .c-card.c-card--path
            .c-card__contents
              .c-card__icon
                +icon-box
              .c-card__duration # hours left
              .c-card__content
                h2 Learning Path
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.primary Resume
              .c-card__subicon
                +icon-mobile("u-svgicon--large")
        .c-card-grid__cell
          .c-card
            .c-card__contents
              .c-card__icon
                +icon-box
              .c-card__duration # hours left
              .c-card__content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                button.primary Resume
              .c-card__subicon
                +icon-mobile("u-svgicon--large")
        .c-card-grid__cell
          .c-card
            .c-card__contents
              .c-card__icon
                +icon-package
              .c-card__duration # hours left
              .c-card__content
                h2 Course
                h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
                p Aliquam vulputate vestibulum eleifend. 
              .c-card__cta
                span.c-tag Administration
      .l-card-grid__cta
        button View More

    .c-item-table
      .c-item-table__title
        h1 Rows
      .c-item-table__filters
        button Recent
          +icon-chevron-down("icon-button-right")
        ul
          li
            a(href='404.pug') 
              +icon-grid
          li 
            a(href='404.pug') 
              +icon-list
      - var n = 0;
      .c-item-table__contents
        while n < 1
          .c-item-table__row
            .c-item-table__row__content
              h1 Nulla ut felis vitae mauris lobortis euismod quis sodales enim
              ul.c-content-metadata
                li
                  span.c-tag Infrastructure
                li.c-content-metadata__icon
                  +icon-box("content-icon")
                li.c-content-metadata__type Learning Path
                li 4 hours left
                li
                  +icon-mobile
            .c-item-table__row__cta
              button.primary Resume
          .c-item-table__row
            .c-item-table__row__content
              h1 Suspendisse erat sem, pulvinar vitae ullamcorper eu, faucibus non erat. Donec et feugiat sapien, et pretium tellus.
              ul.c-content-metadata
                li
                  span.c-tag Administration
                li.c-content-metadata__icon
                  +icon-box("content-icon")
                li.c-content-metadata__type Learning Path
                li 4 hours left
            .c-item-table__row__cta
              button Start
          - n++
      .c-item-table__cta
        button View More


    h2 Buttons
    button.primary Primary Button
    button Button
    button.negative-primary Primary Button
    button.negative Button
    hr
    h3 Icon Bar
    .c-button-bar__icons
      ul
        li
          a(href='404.pug') 
            +icon-grid
        li 
          a(href='404.pug') 
            +icon-list
    hr
    h2 Tabs
    
    ul.tabs
      li.active 
        a(href="#") Tab 1
      li 
        a(href="#") Tab 2
      li 
        a(href="#") Tab 3

    ul.tabs-big
      li.active 
        a(href="#") Tab 1
      li 
        a(href="#") Tab 2
      li 
        a(href="#") Tab 3
    hr
    h2 Labels
    span.c-label 3
    span.c-label Something Important
    hr
    h2 Tags
    span.c-tag Infrastructure
    span.c-tag Red Hat Enterprise Linux (RHEL)
    
    hr
    include _sg-typography

  include includes/_footer