@import 'xl_components';
@import 'xl_header';
@import 'xl_hero';
@import 'xl_footer';
@import 'xl_items';

.site-container {
  background-color: $content-color-background;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: "siteheader siteheader siteheader" auto
                  "sitedashboardnav sitedashboardnav sitedashboardnav" auto
                  "sitehero sitehero sitehero" auto
                ". sitecontent ." 1fr
                ". sitefooter ." auto / 1fr minmax(auto, $content-width-large) 1fr;
}

.site-content {
  padding: $scale5 0;
  grid-area: sitecontent;
}