@import 'xl_svg_icon';
@import 'xl_well';
@import 'xl_buttons';
@import 'xl_button_bar';
@import 'xl_tags';
@import 'xl_tag_category_group';
@import 'xl_labels';
@import 'xl_banner_message';
@import 'xl_progress_bar';
@import 'xl_tabs';
@import 'xl_cards';
@import 'xl_table';
@import 'xl_bigtabs.scss';
@import 'xl_header';
@import 'xl_hero';
@import 'xl_hero_path_progress';
@import 'xl_footer';
@import 'xl_grid';
@import 'xl_course_detail';
@import 'xl_path_detail';

body {
  color: $text-color;
}

.l-site-container {
  background: $content-color-background;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template: "siteheader siteheader siteheader" auto
                  "sitedashboardnav sitedashboardnav sitedashboardnav" auto
                  "sitehero sitehero sitehero" auto
                ". sitecontent ." 1fr
                ". sitefooter ." auto / 1fr minmax(auto, $content-width-large) 1fr;
}

.l-site-content {
  padding: $scale5 0;
  grid-area: sitecontent;
}

.l-site-content--full {
  grid-area: sitecontent;
  grid-column: 1 / -1;
}