.c-bar--negative{
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px;
  margin-bottom: $scale2;
  overflow: hidden;
}

.c-bar__fill--negative {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background: #fff;
}

.c-bar__status--negative {
  p {
    color: $text-dim-color-negative;
    em {
      color: #fff;
      font-weight: 600;
      font-style: normal;
    }
  }
}