.l-site-content {
  position: relative;
  padding: $scale5 0;
  grid-area: sitecontent;
}

.l-site-content--full {
  position: relative;
  grid-area: sitecontent;
  grid-column: 1 / -1;
}

@include max-width($content-width-large) {
  .l-site-content {
    padding-left: $scale2;
    padding-right: $scale2;
  }
}