.l-course-detail {
  display: grid;
  grid-template: 'details content content' auto / 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.l-course-detail__details {
  grid-area: details;
  padding: $scale5;
  background-color: $color-primary;
  color: #fff;
  display: grid;
  grid-template-rows: auto 100px;
  height: 100%;
}

.c-course-detail__details--title {
  align-self: center;
  h1 {
    font-weight: 700;
    color: #fff;
    margin-bottom: $scale7;
    line-height: $scale6;
  }
  h2 {
    @extend .h6;
    margin-bottom: $scale5;
  }
  p {
    color: $text-dim-color-negative;
    margin-bottom: $scale7;
    em {
      color: #fff;
      font-weight: 600;
      font-style: normal;
    }
  }
}

.c-course-detail__details--metadata {
  align-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.c-course-detail__details--metadata--tags {
  justify-self: start;
  align-self: center;
}

.c-course-detail__details--metadata--mobile {
  justify-self: end;
  align-self: center;
}

.l-course-detail__content {
  grid-area: content;
  padding: $scale5;
}

// Layout idea from https://twitter.com/geddski/status/1037089595056222213
// 57ch keeps the column to 57 characters (ideal reading width)
.l-course-detail__content__container {
  display: grid;
  grid-template: '. area .' 1fr / minmax(0, 1fr) minmax(auto, 57ch) minmax(0, 1fr);
  align-items: center;
  padding-top: $scale5;
  min-height: 100%;
}

.l-course-detail__content__area {
  grid-area: area;
}