// FIXME Content and OuterContent need to be in any quantity and order

.l-site-hero {
  grid-area: sitehero;
  display: grid;
  grid-gap: 1rem;
  grid-template: ". siteherocontent ." auto
  "siteherooutercontent siteherooutercontent siteherooutercontent" auto / 1fr minmax(auto, $content-width-large) 1fr;
  background: linear-gradient($hero-color-background, $hero-color-background-image-bottom-grad);
  z-index: 0; // keeps it under the modal block
  color: #fff;
}

.c-site-hero__image {
  position: relative;
  z-index: 0;
  grid-row: 1/-1;
  grid-column: 1/-1;
  background: url('../img/hero3.png') no-repeat center center;
  background-size: cover;
  &::after {
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient($hero-color-background, $hero-color-background-image-bottom-grad);
  }
}

.c-site-hero__content {
  grid-area: siteherocontent;
  padding-top: $scale5;
  z-index: 1;
}

.c-site-hero__outercontent {
  grid-area: siteherooutercontent;
  z-index: 1;
  grid-column: 1/-1;
}

.l-site-hero__display {
  display: grid;
  color: #fff;
  grid-template-columns: 2fr 1fr;
  grid-gap: $scale6;
  padding: $scale3 0 $scale5 0;
}

@include max-width($content-width-large) {
  // Warning, l/r padding here affects grid alignment w/ hero and content items
  .c-site-hero__content {
    //padding-left: $scale2;
    //padding-right: $scale2;
  }
}

@include max-width($content-width-medium) {
  .l-site-hero__display {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: $scale5;
  }
}