

.c-slidemenu {
  @include transition-all(.5s);
  @extend .dropshadow-lg;
  position: fixed;
  height: 100%;
  width: $c-slidemenu-width;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: $zindex-slidemenu;
  top: 0px;
}

.c-slidemenu--right {
  right: 0px;
}

.c-slidemenu--open {
  //transform: translate3d(0, 0, 0);
  visibility: visible;
}

.c-slidemenu--closed {
  right: -$c-slidemenu-width - 50px;
  //transform: translate3d(-100vw, 0, 0);
  visibility: hidden;
}