.c-card-frame {
  @extend .dropshadow-xs;
  display: block;
  position: relative;
  border-radius: $card-radius;
  padding: $scale4;
  border: 1px solid $card-course-color;
  background: #fff;
}

.c-card {
  @extend .c-card-frame;
  padding: $scale2;
}

.c-card__section {
  border-top: 1px solid rgba(0, 0, 0, $color-alpha-faint-line);
  margin-left: -$scale2;
  margin-right: -$scale2;
  margin-top: $scale2;
  padding-top: $scale2;
  padding-left: $scale2;
  padding-right: $scale2;
}