.card {
  position: relative;
  width: 100%;
  height: $card-height;
  border-radius: $card-radius;
  background: #fff;
  padding: $scale2;
}

.card-program {}
.card-event {}

.icon_square_large {
  width: 64px;
  height: 64px;
  border-radius: $radius-base;
  line-height: 64px;
  text-align: center;
}

button {
  height: $scale6;
  line-height: $scale6;
  padding: 0 $scale5;
  border-radius: $radius-base;
  background-color: transparent;
  border: 2px solid $button-primary-color;
  color: $button-primary-color;
  font-weight: 600;
}

button:hover {
  background-color: rgba(255,255,255,.1);
  border: 2px solid $button-primary-color-over;
  color: $button-primary-color-over;
  cursor: pointer;
}

button.primary {
  background: $button-primary-color;
  color: #fff;
}

button.primary:hover {
  background: $button-primary-color-over;
  border: 2px solid $button-primary-color-over;
}

button.negative {
  border: 2px solid $button-primary-color-negative;
  color: $button-primary-color-negative;
}

button.negative:hover {
  border: 2px solid $button-primary-color-negative-over;
  color: $button-primary-color-negative-over;
}

button.negative-primary {
  border: 2px solid $button-primary-color-negative;
  background: $button-primary-color-negative;
}

button.negative-primary:hover {
  background-color: $button-primary-color-negative-over;
  border: 2px solid $button-primary-color-negative-over;
}

.label {
  @extend .small;
  position: relative;
  display: inline-block;
  margin-right: $scale-1;
  padding: 0 $scale-1;
  background-color: $button-primary-color;
  color: #fff;
  height: $scale4;
  line-height: $scale4;
  border-radius: $scale4;
}

.banner-message {
  position: relative;
  height: 128px;
  line-height: 128px;
  background-color: rgba(255,255,255,.1);
  border-radius: $radius-base;
  margin-bottom: $scale2;
  color: #fff;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: $scale6;
}

.banner-message-icon {
  @extend .icon_square_large;
  margin-left: $scale6;
  background: rgba(255,255,255,.5);
}

.banner-message-message {}

.banner-message-message h1 {
  @extend .h6;
  margin: 0;
  line-height: 1.2rem
}

.banner-message-message p {
  margin: 0;
}

.banner-message-cta {
  justify-self: end;
  margin-right: $scale6;
}