.c-team-card {
  @include transition-all;
  cursor: pointer;

  &:hover {
    @extend .dropshadow-m;
    @include translate(0, -2px);
    border: 1px solid rgba(0,0,0,.25);
  }
}

.c-team-card--list {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $scale1;
  align-items: center;
  margin-bottom: 1px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: 0;
  .c-persona {
    margin-bottom: 0;
  }
  &:hover {
    @extend .dropshadow-m;
    @include translate(2px, 0);
    z-index: 1;
  }
}