// a UL tag
.c-tabs {
  @extend .u-list-plain-horizontal;
  color: #000;
  font-size: $scale0;
  li {
    display: inline-block;
  }

  a {
    @include transition-all;
    position: relative;
    display: block;
    margin-right: $scale6;
    border-bottom: 1px solid transparent;
    color: $text-dim-color;
    &:hover {
      @include translate(0,2px);
      text-decoration: none;
      color: #000;
    }
  }

  .is-active {
    a {
      color: #000;
      &:hover {
        @include translate(0,0);
      }
    }
  }
  li:last-of-type {
    margin-right: 0;
  }
}

.c-tabs--negative {
  color: #fff;
  a {
    color: $text-dim-color-negative;
    &:hover {
      color: #fff;
    }
  }
  .is-active {
    a {
      color: #fff;
    }
  }
}