.site-footer {
  // height: $footer-height-large;
  padding: $scale6 0;
  grid-area: sitefooter;
  display: grid;
  grid-template: "logo nav copyright" 1fr / auto 1fr auto;
  align-items: center;
  border-top: 1px solid rgba(0,0,0,.05);
}

.site-footer-logo {
  grid-area: logo;
}

.site-footer-nav {
  @extend .list-plain-horizontal;
  grid-area: nav;
  justify-self: center;
}

.site-footer-nav li {
  margin-right: $scale6;
  a {
    color: inherit;
  }
}

.site-footer-nav li:last-of-type {
  margin-right: 0;
}

.site-footer-copyright {
  grid-area: copyright;
  justify-self: end;
  color: $text-dim-color;
}

@include max-width($content-width-large) {
  .site-footer {
    grid-template: "logo nav" 1fr 
                  ". copyright" 1fr / 1fr 1fr;
    padding-left: $scale2;
    padding-right: $scale2;
    align-items: start;
    .site-footer-nav {
      justify-self: start;
      margin-bottom: $scale5;
    }
    .site-footer-nav li {
      display: block;
      margin-bottom: $scale2 / 2;
    }
    .site-footer-copyright {
      justify-self: start;
    }
  }
}

@include max-width($content-width-medium) {
  .site-footer {
    grid-template: "logo" 1fr 
                  "nav" 1fr
                  "copyright" 1fr / 1fr;
    padding-left: $scale2;
    padding-right: $scale2;
    justify-content: center;
    .site-footer-logo {
      margin-bottom: $scale2;
      justify-self: center;
    }
    .site-footer-nav {
      justify-self: center;
      ul {
        width: 100%;
      }
      li {
        margin-right: 0;
        text-align: center;
      }
    }
    .site-footer-copyright {
      justify-self: center;
    }
  }
}