// Variables definded in ABT Style Guide

$bp-x-Small: 479px
$bp-small: 480px
$bp-medium: 640px
$bp-large: 1024px
$bp-x-Large: 1280px
$bp-2x-Large: 1440px

// Pixel values converted to rem based on base size of 16px
  
$radius-none: 0px
$radius-base: 0.3125rem
$radius-full: 62.4375rem

$space-x-Small: 0.25rem
$space-small: 0.5rem
$space-medium: 1rem
$space-large: 2rem
$space-x-Large: 4rem
$space-2x-Large: 8rem

//smartphones, which is ​$X-Small ​or​ $Small
$grid-small-columns: 4
$grid-small-width: 3.6875rem
$grid-small-gutter: 1.5625rem
$grid-small-margin: auto

// tablets and small laptops, which is ​$Medium ​or​ $Large
$grid-medium-columns: 8
$grid-medium-width: 3.6875rem
$grid-medium-gutter: 1.5rem
$grid-medium-margin: auto

// desktops, which is ​$X-Large ​or​ $2X-Large
// should not exceed ​1140​ pixels wide
$grid-large-columns: 12
$grid-large-width: 4.5625rem
$grid-large-gutter: 1.5rem
$grid-large-margin: auto

//diatonic type scale
$scale-1: 0.875rem    // 14px
$scale0: 1rem         // 16px
$scale1: 1.1875rem    // 19px
$scale2: 1.3125rem    // 21px
$scale3: 1.5rem       // 24px
$scale4: 1.75rem      // 28px
$scale5: 2rem         // 32px
$scale6: 3rem         // 48px
$scale7: 3.875rem     // 62px
$scale8: 5rem         // 80px
$scale9: 6rem         // 96px

// Animation
$input_speed: 100ms
$collapse_speed: 250ms
$expand_speed: 300ms
$easing: cubic-bezier(0.4, 0.0, 0.2, 1);

//----------------------------------------------------------------------
//----------------------------------------------------------------------
//----------------------------------------------------------------------

$header-height-large: 64px;
$header-height-medium: 64px;
$header-height-small: 64px;

$footer-height-large: 161px;
$footer-height-medium: 329px;
$footer-height-small: 397px;

$content-width-large: 1140px;
$content-width-medium: 640px;
$content-width-small: 311px;

$dashboard-header-height-large: 95px;
$dashboard-header-height-medium: 95px;
$dashboard-header-height-small: 95px;

$dashboard-hero-height-large: 715px;
$dashboard-hero-height-medium: 715px;
$dashboard-hero-height-small: 715px;

$card-width: 311px;
$card-height: 388px;
$card-radius: $radius-base;

$hero-card-width: 1140px;
$hero-card-height: 455px;
$hero-card-radius: $radius-base;

$banner-height: 128px;

$text-dim-color: rgba(0,0,0, .65);
$text-dim-color-negative: rgba(255,255,255, .65); 

$header-color-background: $blue-9;
$hero-color-background: $blue-9;

$content-color-background: $grey-light;

$card-course-color-background: #fff;
$card-path-color-background: $grey-dark;
$card-event-color-background: #fff;

$button-primary-color: $blue-9;
$button-primary-color-over: $blue-7;
$button-primary-color-negative: #fff;
$button-primary-color-negative-over: #fff;

$label-color: $red;
$label-size: $scale3;

$icon-color: $grey-dark;
$icon-color-active: $blue;
$icon-color-disabled: rgba(0,0,0,.25);

$card-course-color: #fff;
$card-path-color: $blue-9;
$card-event-color: #fff;