.l-card-grid {
  display: grid;
  grid-gap: $scale2;
  grid-template: "itemgridtitle itemgridfilter" auto
                  "itemgridcontents itemgridcontents" auto
                  "itemgridcta itemgridcta" auto / auto 1fr;
  margin-bottom: $scale6;
}

.c-card-grid__title  {
  grid-area: itemgridtitle;
  align-self: center;
  h1 {
    @extend .h5;
    margin: 0;
    line-height: 1rem;
    display: inline;
    font-weight: 600;
    margin-right: $scale1;
  }
}

.c-card-grid__filters {
  grid-area: itemgridfilter;
  justify-self: end;
  @extend .button-bar-icons;
  ul {
    display: inline;
    top: -2px; // bump it up so it's level with the filter button
    a {
      color: $button-primary-color;
    }
  }
}

.l-card-grid__cta {
  grid-area: itemgridcta;
  align-self: center;
  justify-self: center;
}

.c-card-grid__contents {
  grid-area: itemgridcontents;
  display: grid;
  grid-gap: $scale2;
  grid-template-columns: repeat(auto-fit, minmax($card-width, 1fr));
}

.c-card-grid__cell {
  justify-self: center;
  align-self: center;
}

@include max-width($content-width-large) {
  .l-card-grid {
    padding: 0 $scale2;
  }
}

@include max-width($content-width-medium) {
  .l-card-grid {
    padding: 0 $scale2;
  }
  .c-card-grid__filters {
    display: none;
  }
}