// Max about 363px at widest screen
// Tablet + Phone 310px
// Let's set the size based on the grid cell

.c-lrncard {
  @include transition-all;
  @extend .c-card-frame;
  cursor: pointer;
  &:hover {
    @extend .dropshadow-m;
    @include translate(0, -2px);
    border: 1px solid rgba(0,0,0,.25);
  }
}

.c-lrncard__contents {
  display: grid;
  grid-template: "cardicon cardduration" 50px
                  "cardcontent cardcontent" minmax(auto, 200px)
                  "cardcta cardsubicon" 50px / 2fr 1fr;
  grid-gap: $scale1;

  .c-lrncard__icon {
    grid-area: cardicon;
    align-self: center;
  }

  .c-lrncard__duration {
    grid-area: cardduration;
    justify-self: end;
    align-self: center;
    p {
      margin: 0;
      color: $text-dim-color;
    }
  }

  .c-lrncard__content {
    grid-area: cardcontent;
    align-self: end;
    h1 {
      @extend .h5;
      margin-bottom: $scale4;
      line-height: $scale4;
      font-weight: 600;
    }
    h2 {
      @extend .h6;
      margin-bottom: 0.8rem;
      line-height: 1rem;
      font-weight: 600;
      color: $text-dim-color;
    }
    p {
      margin-bottom: 0;
      //color: $text-dim-color;
    }
  }

  .c-lrncard__cta {
    grid-area: cardcta;
    align-self: end;
  }

  .c-lrncard__subicon {
    grid-area: cardsubicon;
    justify-self: end;
    align-self: end;
  }
}

.c-lrncard--row {
  @include transition-all;
  //@extend .c-card-frame;
  padding: $scale0 $scale5;
  margin-bottom: 1px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0,0,0,.15);
  z-index: 0;
  &:hover {
    @extend .dropshadow-m;
    @include translate(2px, 0);
    z-index: 1;
  }

}

.c-lrncard__contents--row {
  @extend .c-lrncard__contents;
  grid-template: "cardicon  cardcontent cardduration" auto
                  "cardicon cardcontent ." auto
                  "cardicon cardcta cardsubicon" auto
                  / auto 1fr auto;
  grid-column-gap: $scale1;
  grid-row-gap: 1rem;

  .c-lrncard__icon {
    grid-area: cardicon;
    align-self: start;
    justify-self: start;
  }

  .c-lrncard__duration {
    grid-area: cardduration;
    align-self: start;
    justify-self: center;
    color: $text-dim-color;
    font-size: 0.8rem;
  }

  .c-lrncard__content {
    grid-area: cardcontent;
    align-self: start;

    h1 {
      @extend .h6;
      margin-bottom: 0.5rem;
      line-height: $scale4;
      font-weight: 600;
    }
    h2 {
      @extend .h6;
      font-size: 0.8rem;
      margin-bottom: 0.25rem;
      line-height: 1rem;
      font-weight: 400;
      color: $text-dim-color;
    }
    p {
      margin-bottom: 0;
      //color: $text-dim-color;
    }
  }

  .c-lrncard__cta {
    grid-area: cardcta;
    justify-self: start;
    align-self: top;
    //.c-tag {
    //  margin: 0;
    //}
  }

  .c-lrncard__subicon {
    grid-area: cardsubicon;
    align-self: end;
    justify-self: end;
  }
}

.c-lrncard--course {
  background: $card-course-color;
}

.c-lrncard-event {
  background: $card-event-color;
}

.c-lrncard--path {
  background-color: $card-path-color;
  border: 1px solid $card-path-color;
  .c-lrncard__duration {
    p {
      margin-bottom: 0;
      color: $text-dim-color-negative;
    }
  }
  .c-lrncard__content {
    h1 {
      color: #fff;
    }
    h2 {
      color: $text-dim-color-negative;
    }
    p {
      color: #fff;
    }
  }
  .c-lrncard__cta button {
    @extend .c-button--primary-negative;
  }
  .c-lrncard__icon, .c-lrncard__subicon, .c-tag {
    color: #fff;
  }
  .c-tag {
    border-color: #fff;
  }
}

