.c-item-table {
  display: grid;
  grid-gap: $scale2;
  grid-template: "itemtabletitle itemtablefilter" auto
                  "itemtablecontents itemtablecontents" auto
                  "itemtablecta itemtablecta" auto / auto 1fr;
  margin-bottom: $scale6;
}

.c-item-table__title  {
  grid-area: itemtabletitle;
  align-self: center;
  h1 {
    @extend .h5;
    margin: 0;
    line-height: 1rem;
    display: inline;
    font-weight: 600;
    margin-right: $scale1;
  }
}

.c-item-table__filters {
  grid-area: itemtablefilter;
  justify-self: end;
  @extend .button-bar-icons;
  ul {
    display: inline;
    top: -2px; // bump it up so it's level with the filter button
    a {
      color: $button-primary-color;
    }
  }
}

.c-item-table__cta {
  grid-area: itemtablecta;
  align-self: center;
  justify-self: center;
}

.c-item-table__contents {
  @extend .c-card-frame;
  grid-area: itemtablecontents;
  display: grid;
  grid-template-rows: auto;
}


.c-item-table__row {
  // @include transition-all;
  position: relative;
  display: grid;
  grid-template: "contentcontent contentcta" auto / 1fr auto;
  grid-gap: $scale4;
  align-items: center;
  border-bottom: 1px solid $table-border-color;
  padding-bottom: $scale4;
  margin-bottom: $scale4;
  // &:hover {}
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.c-content-metadata {
  @extend .u-list-plain-horizontal;
  margin-top: $scale-1;
  color: $text-dim-color;
  .svgicon {
    top: 5px; 
  }
  li {
    margin-right: $scale-1;
  }
}

.c-content-metadata__type, .c-content-metadata__icon {
  color: $color-primary;
  font-weight: 600;
}

.c-item-table__row__content {
  grid-area: contentcontent;
  h1 {
    @extend .h5;
    margin: 0;
    line-height: $scale3;
    font-weight: 400;
  }
  h2 {
    @extend .h6;
    margin: 0;
    line-height: 1rem;
    font-weight: 600;
    color: $text-dim-color;
  }
  p {
    margin-bottom: 0;
    color: $text-dim-color;
  }
}

.c-item-table__row__cta {
  grid-area: contentcta;
}

@include max-width($content-width-large) {
  .c-item-table {
    padding: 0 $scale2;
  }
}

@include max-width($content-width-medium) {
  .c-item-table {
    padding: 0 $scale2;
  }
  .c-item-table__filters {
    display: none;
  }
}