.c-current-path {
  margin-top: $scale1;
  h1 {
    font-weight: 700;
    color: #fff;
  }
  h2 {
    @extend .h6;
    margin-bottom: $scale5;
  }
  .c-path-progress {
    margin-top: $scale6;
    margin-bottom: $scale5;
  }

  p {
    color: $text-dim-color-negative;
    em {
      color: #fff;
      font-weight: 600;
      font-style: normal;
    }
  }
}

.c-next-steps {
  align-self: start;
  display: grid;
  grid-template: ". title" 1fr
  "step step" auto / $scale6 1fr;
  grid-gap: $scale1;

  h1 {
    grid-area: title;
    @extend .h6;
    margin-bottom: 0;
    color: #fff;
  }
  ul {
    @extend .u-list-plain;
    grid-area: step;
  }
  li {
    display: grid;
    grid-template: "icon details" auto / $scale6 1fr;
    grid-gap: $scale1;
    align-content: start;
    margin-bottom: $scale1;
  }
  .c-next-steps__icon {
    grid-area: icon;
    justify-self: center;
    color: #fff;
  }
  .c-next-steps__details {
    grid-area: details;
    .title {
      @extend h5;
      line-height: 1rem;
      margin-bottom: none;
      color: #fff !important;
    }
    .metadata {
      display: block;
      color: $text-dim-color-negative;
    }
  }
}

.c-path-metadata {
  padding: $scale5 0;
  border-top: 1px solid rgba(255,255,255, .1);
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  align-items: center;
  color: #fff;
  p {
    font-weight: 600;
    margin: 0;
  }
  em {
    display: block;
    font-weight: 400;
    color: $text-dim-color-negative;
    font-style: normal;
  }
}

.c-path-metadata__tags {
}
.c-path-metadata__duration {
  padding-left: $scale5;
}
.c-path-metadata__activities {
  padding-left: $scale5;
}
.c-path-metadata__mobile {
  justify-self: end;
}