.c-persona--big {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: $scale1;
  justify-items: center;
  align-items: center;
}

.c-persona--big__photo {
}

.c-persona--big__details {
  text-align: center;
  p {
    @extend h5;
    font-weight: 600;
    line-height: $scale0;
    margin-bottom: $scale0;
  }
  em {
    font-size: $font-size-base;
    display: block;
    color: $text-dim-color;
    margin: 0;
    font-style: normal;
  }
}