.c-persona {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: $scale0;
  margin-bottom: $scale0;
}

.c-persona__photo {
  justify-self: left;
  align-self: center;
}

.c-persona__details {
  justify-self: left;
  align-self: center;
  p {
    font-weight: 600;
    margin: 0;
  }
  em {
    display: block;
    color: $text-dim-color;
    margin: 0;
    font-style: normal;
  }
}