.c-persona--med {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: $scale1;
  justify-items: center;
  align-items: center;
}

.c-persona--med__photo {
}

.c-persona--med__details {
  text-align: center;
  margin-top: 0.5rem;
  p {
    @extend h5;
    font-weight: 600;
    line-height: $scale0;
    margin-bottom: 0.5rem;
  }
  em {
    display: block;
    font-style: normal;
    padding-top: 0.1rem;
    font-size: $font-size-tiny;
    color: $text-dim-color;
    //font-weight: 600;
    margin: 0;
  }
}