// Grid columns matches columns in the hero current path details
.l-path-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $scale6;
}

.l-path-detail__activities {
  //
}

.l-path-detail__metadata {
  //
}

.l-path-detail__metadata__title {
  @extend h5;
}

.l-path-detail__activities__section {
  // For the connecting line
  &::after {
    display: block;
    content: '';
    margin: $scale1 0;
    padding: $scale5 0;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, $color-alpha-faint-line), rgba(0, 0, 0, $color-alpha-faint-line));
    background-position: 50%;
    background-repeat: repeat-y;
    background-size: 1px auto;
  }
  &:last-of-type::after {
    content: none;
  }
  // Wire frames had this area overlapping bar, but doesn't work with long titles
  //&:not(:first-child) {
  //  margin-top: -$scale5;
  //}
}

.l-path-detail__activities__section__title {
  @extend h4;
}

.l-path-detail__activities__subsection {
  padding: $scale6;
  background-color: #fff;
  border-radius: $radius-base;
  @extend .dropshadow-xs;
}

.l-path-detail__achievement {
  @extend .l-path-detail__activities__subsection;
  @extend .dropshadow-m;
  background-image: $light-gradient;
  background-color: $pf-blue-600;
  color: #fff;
  text-align: center;
}

.l-path-detail__achievement__title {
  @extend h3;
  margin: 0;
}

.l-path-detail__achievement__icon {
  margin-bottom: $scale5;
}

.l-path-detail__activities__subsection__title {
  @extend h5;
}

.l-path-detail__activities__subsection__description {
  color: $text-dim-color;
}

.l-path-detail__activities__activity__table {
  & > div:not(:last-of-type) {
    padding-bottom: $scale5;
    border-bottom: 1px solid rgba(0, 0, 0, $color-alpha-faint-line);
  }
}

.l-path-detail__activities__activity__row {
  display: grid;
  grid-template-columns: 50px auto 50px;
  grid-column-gap: $scale1;
  align-items: center;
  justify-items: center;
  padding-top: $scale5;
}

.l-path-detail__activities__activity__row__icon {
}

.l-path-detail__activities__activity__row__details {
  justify-self: start;
  .title {
    font-weight: 600;
    display: block;
    margin: 0;
  }
  .metadata {
    color: $text-dim-color;
    display: block;
    margin: 0;
  }
}

.l-path-detail__activities__activity__row__completion {
}
