.c-button-bar__icons {
  display: inline-block;
  ul {
    @extend .u-list-plain-horizontal;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    top: -1px; // Bump the icon button up so it's in line with the <button> element
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        @include transition-all;
        display: block;
        height: $scale6;
        line-height: $scale6;
        padding: 0 $scale2;
        border-radius: $radius-base;
        text-align: center;
        margin-right: -5px;
        cursor: pointer;
        border: 1px solid transparent;
      }
      a:hover {
        background-color: $button-shaded-bg;
      }
      // Couldn't get them to vertically center
      div.u-svgicon {
        top: 7px;
      }
      div.c-label {
        margin: 0;
        top: -1px;
      }
    }
    li.is-active {
      a {
        border: 1px solid rgba(0,0,0,.25); //currentColor
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
}

.c-button-bar__icons--negative {
  a {
    color: #fff;
  }
}