.well {
  background-color: rgba(0,0,0,.1);
  border-radius: $radius-base;
  padding: $scale5;
  margin: $scale5 0;
}

.well-negative {
  background-color: rgba(255,255,255,.25);
  border-radius: $radius-base;
  padding: $scale5;
  margin: $scale5 0;
}

.svgicon {
  position: relative;
  display: inline-block;
  color: inherit;
  svg {
    margin: 0;
    display: block;
  }
}

// scale the SVG icon
.svgicon-large {
  width: $scale6;
  height: auto;
  svg:not(:root) {
    width: 100%;
    height: auto;
  }
}

.icon_square_large {
  width: 64px;
  height: 64px;
  border-radius: $radius-base;
  line-height: 64px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.button-bar-icons {
  ul {
    @extend .list-plain-horizontal;
    position: relative;
    font-weight: 700;
    text-transform: uppercase;
    li {
      display: inline-block;
      a {
        @include transition-all;
        display: block;
        height: $scale6;
        line-height: $scale6;
        padding: 0 $scale2;
        border-radius: $radius-base;
        text-align: center;
        margin-right: -5px;
      }
      a:hover {
        background-color: $button-shaded-bg;
      }
      // Couldn't get them to vertically center
      div.svgicon {
        top: 7px;
      }
      div.label {
        margin: 0;
        top: -1px;
      }
    }
  }
}

button {
  @include transition-all;
  position: relative;
  height: $scale6;
  line-height: $scale6;
  padding: 0 $scale5;
  border-radius: $radius-base;
  background-color: transparent;
  border: 2px solid $button-primary-color;
  color: $button-primary-color;
  font-weight: 600;
}

button:hover {
  @extend .dropshadow-sm;
  background-color: $button-shaded-bg;
  border: 2px solid $button-primary-color-over;
  @include translate(0, -1px);
}

button.primary {
  background: $button-primary-color;
  color: #fff;
}

button.primary:hover {
  background: $button-primary-color-over;
  border: 2px solid $button-primary-color-over;
}

button.negative {
  border: 2px solid $button-primary-color-negative;
  color: $button-primary-color-negative;
}

button.negative:hover {
  border: 2px solid $button-primary-color-negative-over;
  color: $button-primary-color-negative-over;
}

button.negative-primary {
  border: 2px solid $button-primary-color-negative;
  background: $button-primary-color-negative;
  color: $button-primary-color;
}

button.negative-primary:hover {
  background-color: $button-primary-color-negative-over;
  border: 2px solid $button-primary-color-negative-over;
}

.tag {
  position: relative;
  display: inline-block;
  margin-right: $scale-1;
  color: $tag-color;
  padding: 0 $tag-size / 3;
  font-size: 0.8rem;
  font-weight: 600;
  text-align: center;
  height: $tag-size;
  line-height: $tag-size;
  min-width: $tag-size;
  border: 1px solid $tag-color;
  border-radius: $tag-size;
}

.label {
  position: relative;
  display: inline-block;
  margin-right: $scale-1;
  background-color: $label-color;
  color: #fff;
  padding: 0 $label-size / 3;
  font-size: 0.7rem;
  font-weight: 600;
  text-align: center;
  height: $label-size;
  line-height: $label-size;
  min-width: $label-size;
  border-radius: $label-size;
}

.banner-message {
  position: relative;
  background-color: rgba(255,255,255,.1);
  border-radius: $radius-base;
  margin-bottom: $scale2;
  padding: $scale4;
  display: grid;
  // grid-template-columns: auto 1fr auto;
  grid-template: "icon message cta" 1fr / auto 1fr auto;
  align-items: center;
  grid-gap: $scale4;
  .negative {
    color: #fff;
  }
}

.banner-message-icon {
  @extend .icon_square_large;
  background: rgba(255,255,255,.35);
  grid-area: icon;
}

.banner-message-message {
  grid-area: message;
  h1 {
    @extend .h6;
    margin: 0;
    line-height: 1.2rem
  }
  p {
    margin: 0;
  }
}

.banner-message-cta {
  justify-self: end;
  grid-area: cta;
}

.bar-negative{
  position: relative;
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgba(255,255,255,.25);
  border-radius: 5px;
  margin-bottom: $scale2;
  overflow: hidden;
}

.bar-fill-negative {
  position: absolute;
  border-radius: 5px;
  top: 0;
  left: 0;
  width: 36%;
  height: 5px;
  background: #fff;
}

@include max-width($content-width-medium) {
  .banner-message {
    padding: $scale2;
    grid-template: "icon message" 1fr 
                    ". cta" auto / auto 1fr;
  }
}