.c-tag {
  position: relative;
  display: inline-block;
  margin-right: $scale-1;
  color: $tag-color;
  padding: 0 $tag-size / 3;
  font-size: $font-size-tiny;
  font-weight: 600;
  text-align: center;
  height: $tag-size;
  line-height: $tag-size;
  min-width: $tag-size;
  border: 1px solid $tag-color;
  border-radius: $tag-size;
  .u-svgicon {
    top: 1px;
    margin-right: 0.2rem;
  }
}

.c-tag--negative {
  color: #fff;
  border-color: #fff;
}