.l-site-header {
  background-color: $header-color-background;
  grid-area: siteheader;
  color: #fff;
  z-index: $zindex-header;
}

.l-site-header--desktop {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-rows: $header-height-large;
  grid-gap: $scale3;
  align-items: center;
}

.l-site-header--mobile {
  display: none !important;
  // display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: $header-height-large;
  grid-gap: $scale2;
  padding: 0 $scale2;
  .c-site-header__logo {
    align-self: center;
    justify-self: center;
    padding: 0 !important;
  }
}

.c-site-header__logo {
  padding-left: $scale1;
}

.c-site-header__nav {
  button {
    margin-right: 5px;
  }
  button:last-of-type {
    margin-right: 0;
  }
  .c-dropdown {
    margin-right: 5px;
    button {
      @extend .c-header-button;
    }
    .c-dropdown__contents {
      padding: $scale1;
      background: $header-color-background;
    }
    .c-dropdown__entry:hover {
      background: rgba(0,0,0,.5);
    }
  }
}

.c-site-header__search {
  height: $scale6;
  line-height: $scale6;
  background-color: rgba(0,0,0,.25);
  border-radius: $radius-base;
  padding-left: $scale1;
  color: #fff;
  // For the magnifying glass icon
  a {
    color: #fff;
  }
}

.c-site-header__nav--secondary, .c-site-header__nav--mobile {
  justify-self: end;
  padding-right: $scale1;
}

.l-site-header--mobile {
  .c-site-header__nav--secondary, .c-site-header__nav--mobile {
    padding-right: 0;
    a {
      padding: 0 $scale-1 * .5 !important;
    }
  }
}

//.c-site-dashboard__nav {
//  grid-area: sitedashboardnav;
//  padding-top: $scale5;
//  display: grid;
//  grid-template: ". dashboardnavcontent. " auto / 1fr $content-width-large 1fr;
//  .c-big-tabs {
//    grid-area: dashboardnavcontent;
//  }
//}

@include max-width($content-width-large) {
  .l-site-header--desktop {
    display: none !important;
  }
  .l-site-header--mobile {
    display: grid !important;
  }
  //.c-site-dashboard__nav {
  //  grid-template: "dashboardnavcontent" auto / 1fr;
  //}
}

@include max-width($content-width-medium) {
  .l-site-header--desktop {
    display: none !important;
  }
  .l-site-header--mobile {
    display: grid !important;
  }
}

