// Style guide variables
// TODO Convert to rem

$bp-x-Small: 479px
$bp-small: 480px
$bp-medium: 640px
$bp-large: 1024px
$bp-x-Large: 1280px
$bp-2x-Large: 1440px

// Pixel values converted to rem based on base size of 16px
  
$radius-none: 0px
$radius-base: 0.3125rem
$radius-full: 62.4375rem

$space-x-Small: 0.25rem
$space-small: 0.5rem
$space-medium: 1rem
$space-large: 2rem
$space-x-Large: 4rem
$space-2x-Large: 8rem

//smartphones, which is ​$X-Small ​or​ $Small
$grid-small-columns: 4
$grid-small-width: 3.6875rem
$grid-small-gutter: 1.5625rem
$grid-small-margin: auto

// tablets and small laptops, which is ​$Medium ​or​ $Large
$grid-medium-columns: 8
$grid-medium-width: 3.6875rem
$grid-medium-gutter: 1.5rem
$grid-medium-margin: auto


// desktops, which is ​$X-Large ​or​ $2X-Large
// should not exceed ​1140​ pixels wide
$grid-large-columns: 12
$grid-large-width: 4.5625rem
$grid-large-gutter: 1.5rem
$grid-large-margin: auto

//diatonic type scale
$scale-1: 0.875rem
$scale0: 1rem
$scale1: 1.1875rem
$scale2: 1.3125rem
$scale3: 1.5rem
$scale4: 1.75rem
$scale5: 2rem
$scale6: 3rem
$scale7: 3.875rem
$scale8: 5rem
$scale9: 6rem

// Animation
$input_speed: 100ms
$collapse_speed: 250ms
$expand_speed: 300ms
$easing: cubic-bezier(0.4, 0.0, 0.2, 1);