.c-banner-message {
  position: relative;
  background-color: rgba(255,255,255,.1);
  border-radius: $radius-base;
  margin-bottom: $scale2;
  padding: $scale4;
  display: grid;
  // grid-template-columns: auto 1fr auto;
  grid-template: "icon message cta" 1fr / auto 1fr auto;
  align-items: center;
  grid-gap: $scale4;
}

.c-banner-message--negative {
  color: #fff;
}

.c-banner-message__icon {
  @extend .c-icon_square--large;
  // TODO this needs to be a global color
  background: rgba(255,255,255,.35);
  grid-area: icon;
}

.c-banner-message__message {
  grid-area: message;
  h1 {
    @extend .h6;
    margin: 0;
    line-height: 1.2rem
  }
  p {
    margin: 0;
  }
}

.c-banner-message__cta {
  justify-self: end;
  grid-area: cta;
  button {
    margin-left: $space-small;
  }
}

@include max-width($content-width-medium) {
  .c-banner-message {
    padding: $scale2;
    grid-template: "icon message" 1fr
    ". cta" auto / auto 1fr;
  }
}