// Grid columns matches columns in the hero current path details
.l-path-detail {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: $scale6;
}

.l-path-detail__activities {

}

.l-path-detail__metadata {

}

.l-path-detail__metadata__title {
  @extend h5;
}

