.c-card-frame {
  @extend .dropshadow-xs;
  display: block;
  position: relative;
  border-radius: $card-radius;
  padding: $scale4;
  border: 1px solid $card-course-color;
  background: #fff;
}

.c-card {
  @extend .c-card-frame;
  padding: $scale2;
}