

.u-svgicon {
  position: relative;
  display: inline-block;
  color: inherit;
  svg {
    margin: 0;
    display: block;
  }
}

// scale the SVG icon
.u-svgicon--large {
  width: $scale6;
  height: auto;
  svg:not(:root) {
    width: 100%;
    height: auto;
  }
}

.c-icon_square {
  border-radius: $radius-base;
  font-weight: 700;
  text-align: center;
}

.c-icon_square--large {
  @extend .c-icon_square;
  width: 64px;
  height: 64px;
  line-height: 64px;
  font-size: 2rem;
}

.c-icon_square--medium {
  @extend .c-icon_square;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-size: 1.5rem;
}

.c-icon_square--small {
  @extend .c-icon_square;
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 1rem;
}

.u-icon-button--left {
  position: relative;
  padding: 0 10px 0 0;
  top: 7px;
}

.u-icon-button--right {
  position: relative;
  padding: 0 0 0 10px;
  top: 7px;
}