.negative {
  color: #fff !important;
}

.icon-button-left {
  position: relative;
  padding: 0 10px 0 0;
  top: 7px;
}

.icon-button-right {
  position: relative;
  padding: 0 0 0 10px;
  top: 7px;
}

// Max about 363px at widest screen
// Tablet + Phone 310px
// Let's set the size based on the grid cell

.c-card-frame {
  @extend .dropshadow-xs;
  display: block; 
  position: relative;
  border-radius: $card-radius;
  background: $card-course-color linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.05));
  padding: $scale4;
  border: 1px solid $card-course-color;
}

.c-card {
  @include transition-all;
  @extend .c-card-frame;
  &:hover {
    @extend .dropshadow-m;
    @include translate(0, -2px);
    border: 1px solid rgba(0,0,0,.25);
  }
}

.c-card-sized {
  width: $card-width;
  height: $card-height;
}

.c-card__contents {
  display: grid;
  grid-template: "cardicon cardduration" 50px
                  "cardcontent cardcontent" minmax(auto, 200px)
                  "cardcta cardsubicon" 50px / 2fr 1fr;
  grid-gap: $scale1;
}

.c-card--path {
  background-color: $card-path-color;
  border: 1px solid $card-path-color;
  .c-card__duration {
    color: $text-dim-color-negative;
  }
  .c-card__content {
    h1 {
      color: #fff;
    }
    h2 {
      color: $text-dim-color-negative;
    }
    p {
      color: $text-dim-color-negative;
    }
  }
  .c-card__cta button {
    @extend .negative-primary;
  }
  .c-card__icon, .c-card__subicon {
    color: #fff;
  }
}
.c-card-event {
  background: $card-event-color;
}

.c-card__icon {
  grid-area: cardicon;
  align-self: center;
}

.c-card__duration {
  grid-area: cardduration;
  justify-self: end;
  align-self: center;
  color: $text-dim-color;
}

.c-card__content {
  grid-area: cardcontent;
  align-self: end;
  h1 {
    @extend .h5;
    margin-bottom: $scale4;
    line-height: $scale4;
    font-weight: 600;
  }
  h2 {
    @extend .h6;
    margin-bottom: $scale1;
    line-height: 1rem;
    font-weight: 600;
    color: $text-dim-color;
  }
  p {
    margin-bottom: 0;
    color: $text-dim-color;
  }
}

.c-card__cta {
  grid-area: cardcta;
  align-self: end;
}

.c-card__subicon {
  grid-area: cardsubicon;
  justify-self: end;
  align-self: center;
}