.site-hero {
  padding: $scale5 0;
  background-color: $hero-color-background;
  grid-area: sitehero;
  display: grid;
  grid-template: ". siteherocontent ." auto / 1fr $content-width-large 1fr;
}

.site-hero-content {
  background-color: $hero-color-background;
  grid-area: siteherocontent;
}

.site-hero-display {
  background-color: rgba(0,0,0,.1);
  padding: $scale2;
  border-radius: $radius-base;
}

