.l-userprofile__hero {
  margin-top: $scale6;
}

.l-userprofile__grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: $scale1;
}

.l-userprofile__nav {
  grid-column: 2;
}

.l-userprofile__summary {
  h1 {
    @extend h6;
    margin: 0;
  }
}

.l-userprofile__content {
}

.l-userprofile__photo {
  margin-top: -7rem;
}