.item-grid {
  display: grid;
  grid-gap: $scale2;
  grid-template: "itemgridtitle itemgridtitle itemgridfilter" auto
                ". . ." 1fr / minmax($card-width-min, $card-width-max) minmax($card-width-min, $card-width-max) minmax($card-width-min, $card-width-max);
  align-content: center;
  margin-bottom: $scale2;
}

.item-grid-title  {
  grid-area: itemgridtitle;
  align-self: center;
}

.item-grid-title h1 {
  @extend .h5;
  margin: 0;
  line-height: 1rem;
  display: inline;
  font-weight: 600;
  margin-right: $scale1;
}

.item-grid-filters {
  grid-area: itemgridfilter;
  justify-self: end;
  div.svgicon {
    top: 5px;
  }
}

.item-grid-item {
  justify-self: center;
  align-self: center;
}

@include max-width($content-width-large) {
  .item-grid {
    padding: 0 $scale2;
    justify-content: space-around;
    grid-template: "itemgridtitle itemgridfilter" auto
                ". ." 1fr / minmax($card-width-min, $card-width-max) minmax($card-width-min, $card-width-max);
  }
}

@include max-width($content-width-medium) {
  .item-grid {
    padding: 0 $scale2;
    justify-content: space-around;
    grid-template: "itemgridtitle" auto
                    "itemgridfilter" auto 
                    ". " 1fr / minmax($card-width-min, $card-width-max);
  }
  .item-grid-filters {
    display: none;
  }
}