.c-button {
  @include transition-all;
  position: relative;
  height: $button-height;
  line-height: $button-height;
  padding: 0 $scale5;
  border-radius: $radius-base;
  background-color: transparent;
  border: 2px solid $button-primary-color;
  color: $button-primary-color;
  font-weight: 600;
}

.c-button:hover {
  @extend .dropshadow-sm;
  background-color: $button-shaded-bg;
  border: 2px solid $button-primary-color-over;
  @include translate(0, -1px);
}

.c-button--primary {
  background: $button-primary-color;
  color: #fff;
}

.c-button--primary:hover {
  background: $button-primary-color-over;
  border: 2px solid $button-primary-color-over;
}

.c-button--negative {
  border: 2px solid $button-primary-color-negative;
  color: $button-primary-color-negative;
}

.c-button--negative:hover {
  border: 2px solid $button-primary-color-negative-over;
  color: $button-primary-color-negative-over;
}

.c-button--primary-negative {
  border: 2px solid $button-primary-color-negative;
  background: $button-primary-color-negative;
  color: $button-primary-color;
}

.c-button--primary-negative:hover {
  background-color: $button-primary-color-negative-over;
  border: 2px solid $button-primary-color-negative-over;
}