.item-table {
  display: grid;
  grid-gap: $scale2;
  grid-template: "itemtabletitle itemtablefilter" auto
                  "itemtablecontents itemtablecontents" auto
                  "itemtablecta itemtablecta" auto / auto 1fr;
  margin-bottom: $scale6;
}

.item-table-title  {
  grid-area: itemtabletitle;
  align-self: center;
  h1 {
    @extend .h5;
    margin: 0;
    line-height: 1rem;
    display: inline;
    font-weight: 600;
    margin-right: $scale1;
  }
}

.item-table-filters {
  grid-area: itemtablefilter;
  justify-self: end;
  @extend .button-bar-icons;
  ul {
    display: inline;
    top: -2px; // bump it up so it's level with the filter button
    a {
      color: $button-primary-color;
    }
  }
}

.item-table-cta {
  grid-area: itemtablecta;
  align-self: center;
  justify-self: center;
}

.item-table-contents {
  @extend .card-frame;
  grid-area: itemtablecontents;
  display: grid;
  grid-template-rows: auto;
}


.item-table-row {
  // @include transition-all;
  position: relative;
  display: grid;
  grid-template: "contentcontent contentcta" auto / 1fr auto;
  grid-gap: $scale4;
  align-items: center;
  border-bottom: 1px solid $table-border-color;
  padding-bottom: $scale4;
  margin-bottom: $scale4;
  // &:hover {}
  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.content-icon {
  //color: $blue-9;
}

.content-metadata {
  @extend .list-plain-horizontal;
  margin-top: $scale-1;
  color: $text-dim-color;
  .svgicon {
    top: 5px; 
  }
  li {
    margin-right: $scale-1;
  }
}

.content-metadata-type, .content-metadata-icon {
  color: $color-primary;
  font-weight: 600;
}

.content-content {
  grid-area: contentcontent;
  h1 {
    @extend .h5;
    margin: 0;
    line-height: $scale3;
    font-weight: 400;
  }
  h2 {
    @extend .h6;
    margin: 0;
    line-height: 1rem;
    font-weight: 600;
    color: $text-dim-color;
  }
  p {
    margin-bottom: 0;
    color: $text-dim-color;
  }
}

.content-cta {
  grid-area: contentcta;
}

.content-subicon {
  grid-area: contentsubicon;
}

@include max-width($content-width-large) {
  .item-table {
    padding: 0 $scale2;
  }
}

@include max-width($content-width-medium) {
  .item-table {
    padding: 0 $scale2;
  }
  .item-table-filters {
    display: none;
  }
}