.c-message-banner {
  position: relative;
  background-color: $blue-dark;
  border-radius: $radius-base;
  margin-bottom: $scale-1;
  padding: $scale4;
  display: grid;
  grid-template: "icon message cta" 1fr / auto 1fr auto;
  align-items: center;
  grid-gap: $scale4;
  color: #fff;
  overflow: hidden;
}

.c-message-banner--negative {
  background-color: rgba(255,255,255,.1);
}

.c-message-banner__icon {
  grid-area: icon;
}

.c-message-banner__boxicon {
  @extend .c-icon_square--large;
  // TODO this needs to be a global color
  background: rgba(255,255,255,.35);
  grid-area: icon;
}

.c-message-banner__message {
  grid-area: message;
  h1 {
    @extend .h6;
    margin-bottom: 0.5rem;
    line-height: 1.3rem;
  }
  p {
    margin: 0;
    line-height: 1.3rem;
  }
}

.c-message-banner__cta {
  justify-self: end;
  grid-area: cta;
  width: 100%;
  button {
    margin-left: $space-small;
  }
}


//$content-width-medium
@include max-width('720px') {
  .c-message-banner {
    padding: $scale2;
    grid-template: "icon message" 1fr
    ". cta" auto / auto 1fr;
  }
  .c-message-banner__boxicon {
    width: 32px;
    height: 32px;
    line-height: 43px; // 😱 centered, TODO fix this magic number
    font-size: 1rem;
    align-self: start;
  }
  .c-message-banner__icon {
    align-self: start;
  }
  .c-message-banner__cta {
    button {
      margin: 0 5px 0 0;
    }
  }
}

// TODO Need an interactive solution
@include max-width('500px') {
  .c-message-banner__cta {
    text-align: center;
    button {
      display: block;
      margin-bottom: 5px;
      width: 100%;
    }
  }
}