.l-site-header {
  background-color: $header-color-background;
  grid-area: siteheader;
  color: #fff;
}

.l-site-header--desktop {
  display: grid;
  grid-template-columns: auto auto 1fr 1fr;
  grid-template-rows: $header-height-large;
  grid-gap: $scale3;
  align-items: center;
}

.l-site-header--mobile {
  display: none !important;
  // display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: $header-height-large;
  grid-gap: $scale2;
  padding: 0 $scale2;
  .c-site-header__logo {
    align-self: center;
    justify-self: center;
    padding: 0 !important;
  }
}

.c-site-header__logo {
  padding-left: $scale1;
}

.c-site-header__nav {
  ul {
    @extend .u-list-plain-horizontal;
    font-weight: 700;
    text-transform: uppercase;
    li {
      display: inline-block;
      margin-right: 5px;
      a {
        @include transition-all;
        display: block;
        height: $scale6;
        line-height: $scale6;
        padding: 0 $scale2;
        background-color: rgba(0,0,0,.25);
        border-radius: $radius-base;
        text-align: center;
        color: #fff;
        text-decoration: none;
      }
      //a:visited, a:active
      a:hover {
        background-color: rgba(0,0,0,.35);
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
}

.c-site-header__search {
  height: $scale6;
  line-height: $scale6;
  background-color: rgba(0,0,0,.25);
  border-radius: $radius-base;
  padding-left: $scale1;
  color: #fff;
  // For the magnifying glass icon
  a {
    color: #fff;
  }
}

.c-site-header__nav--secondary, .c-site-header__nav--mobile {
  justify-self: end;
  padding-right: $scale1;
  @extend .c-button-bar__icons;
  a {
    color: #fff;
  }
}

.l-site-header--mobile {
  .c-site-header__nav--secondary, .c-site-header__nav--mobile {
    padding-right: 0;
    a {
      padding: 0 $scale-1 * .5 !important;
    }
  }
}

.c-site-dashboard__nav {
  grid-area: sitedashboardnav;
  padding-top: $scale5;  
  display: grid;
  grid-template: ". dashboardnavcontent. " auto / 1fr $content-width-large 1fr;
  ul {
    @extend .u-list-plain-horizontal;
    grid-area: dashboardnavcontent;
    color: #fff;
    font-size: $scale2;
    border-bottom: 1px solid $text-dim-color-negative;
    li {
      display: inline-block;
      a{
        @include transition-all;
        position: relative;
        display: block;
        margin-right: $scale6;
        padding-bottom: $scale2;
        border-bottom: 1px solid transparent;
        margin-bottom: -1px;
        color: $text-dim-color-negative;
      }
      a:hover {
        @include translate(0,2px);
        text-decoration: none;
        color: #fff;
      }
    }
    .is-active {
      a {
        color: #fff;
        border-bottom: 2px solid #fff;
      }
      a:hover {
        @include translate(0,0);
      }
    }
    li:last-of-type {
      margin-right: 0;
    }
  }
}

@include max-width($content-width-large) {
  .l-site-header--desktop {
    display: none !important;
  }
  .l-site-header--mobile {
    display: grid !important;
  }
  .c-site-dashboard__nav {
    grid-template: "dashboardnavcontent" auto / 1fr;
    //padding-left: $scale2;
    //padding-right: $scale2;
  }
}

@include max-width($content-width-medium) {
  .l-site-header--desktop {
    display: none !important;
  }
  .l-site-header--mobile {
    display: grid !important;
  }
  //.c-site-dashboard__nav {
  //  padding-left: $scale2;
  //  padding-right: $scale2;
  //}
}

