.c-userprofile--big {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: $scale1;
  justify-items: center;
  align-items: center;
}

.c-userprofile--big__photo {
  img {
    @extend .dropshadow-sm;
    width: 12.5rem;
    height: 12.5rem;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    background: rgba(0, 0, 0, $color-alpha-faint-line);
  }
}

.c-userprofile--big__details {
  text-align: center;
  p {
    @extend h5;
    font-weight: 600;
    line-height: $scale0;
    margin-bottom: $scale0;
  }
  em {
    display: block;
    color: $text-dim-color;
    margin: 0;
    font-style: normal;
  }
}